.main {
    font-size:100%;
    font-size:16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:block;
    border:brown;
    border-style:solid;
    border-radius:8px;
    width:40%;
    height: 850px;


}
#login {
    margin-top:20px;
    text-align: center;
    font-size:20px;
    margin-bottom:30px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;


}
.button {

    display:block;
    color:white;
    border:none;
    border-radius:8px;
    text-transform:uppercase;
    width: 40%;
    height:60px;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    background-color: #256ce1;
    letter-spacing: 0.8px;
    cursor: pointer;



}

.button:hover{
    background-color: #007FFF
}

#signUp{
    text-align:center;
    font-size:30px;
}

#head{
    margin-left:30%;
    font-size:20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}


.type{
    margin:10px;
    width:100%;


}
.SU input[type="text"],
.SU input[type="password"],
.SU input[type="email"]{
    border:1px solid #c4c4c4;
    border-radius: 8px;
    width:40%;
    height:55px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1rem;


}
select{
    margin-top:10px;
    margin-bottom: 30px;
    border:1px solid #c4c4c4;
    border-radius: 8px;


}
.alert{
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    color:white;
    background:#cd5c5c;
    text-align: center;
    width:40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #c4c4c4;
    border-radius: 8px;
    height:55px;
    margin-bottom: 10px;
    margin:auto;
    justify-content: center;
    align-content: center;
    

}
.error{
    position:relative;
    bottom:-30%;

    

    
    
    


}