@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://cdn.syncfusion.com/ej2/material.css");

/* ##############  Examinee Page CSS  #################*/
.ExamineePage{
  position: relative;
  background-image: url(./Images/creamBackground.jpeg);
  
  background-position: left;
  width: 1920px;
  height: 1080px;
  font-family: 'Nunito';
}

/* current exam box in homepage*/
.CurrentExams{
  position: absolute;
  width: 460px;
  height: 300px;
  top: 700px;
  left: 1420px;
  
  text-align: center;
  background-image: url(./Images/forumBackground.jpeg);
  font-family: "Didot", serif;
  font-variant: small-caps;
  font-size: large;
  flex: 1;
  overflow-y: scroll;

  border: 2px solid #422800;
  border-radius: 31px;
  padding: 10px;
}

/*#####################################################*/

/* ##############  Examiner Page CSS  #################*/
.ExaminerPage{
  position: relative;
  background-image: url(./Images/creamBackground.jpeg);
  
  background-position: left;
  width: 1920px;
  height: 1080px;
  font-family: 'Nunito';
}
.CreateExamButton{
  position: absolute;
  top: 700px;
  left: 1420px;
  
}

/* CSS */
.CreateButton {
  background-color:#abbde2;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 450px;
}

.CreateButton:hover {
  background-color: #fff;
}

.CreateButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .CreateButton {
    min-width: 120px;
    padding: 0 25px;
  }
}

.CreateSubmit{
  background-color:#bfcce6;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 52px;
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
 
}




/*##################################################*/

/* ##############  Admin Page CSS  #################*/
.AdminPage{
  position: relative;
  background-image: url(./Images/creamBackground.jpeg);
  
  background-position: left;
  width: 1920px;
  height: 1080px;
  font-family: 'Nunito';
}



/*#################################################*/

/* ##############  Help forum Page CSS  #################*/

.HelpTitle{
  text-align: center;
  font-family: "Didot", serif;
  font: 4000px;
}

.HelpPage{
  position: relative;
  background-image: url(./Images/creamBackground.jpeg);
  background-position: left;
  width: 1920px;
  height: 1080px;
  font-family: 'Nunito';
}

/*Inside the actual forum the actual things users have written*/
.ForumDisplay{
  position: relative;
  width: 750px;
  height: 200px;
  left: 25px;
  top: 0px;
  background: linear-gradient( 195deg, #a1a3b9 0%, white 100%);
  
}

/*Individual text of what users have written*/
.ForumDisplay h1,h2,h3{
  padding: 10px;
  text-align: center;
  

  
}
/*Add post background*/
.AddPost {
  text-align: center;
  position: absolute;
  width: 655px;
  height: 570px;
  left: 208px;
  top: 200px;
  background: #e7edf7;
  margin-left: 5px;
  padding:10px;
  border: 3px solid #252b1dd2;
}

.postContainer input{
  text-align: center;
  padding: 1em;
  border: 1pt solid #a1b9dff1;
  background-color: #c4cee25b;
  width: 76%;
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

/*Post white backgrounf*/
.postContainer{
  position: absolute;
  width: 800px;
  height: 800px;
  top: 200px;
  left: 910px;;

  background-image: url(./Images/forumBackground.jpeg);
  border: 3px solid #252b1dd2;
  flex: 1;
  overflow-y: scroll;
}

.postContainer2{
  position: absolute;
  width: 800px;
  height: 800px;
  top: 200px;
  left: 50px;;


  background: white;
  flex: 1;

}

.AddPost h1,h2,h3{
  padding: 90px;
  
}



/*##################################################*/

/* ##############  Mark Page CSS  #################*/





/*##################################################*/

/* ##############  Calendar Page CSS  #################*/
.CalendarBgd{
  position: absolute;
  background-image: url(./Images/creamBackground.jpeg);
  background-position: left;
  width: 1920px;
  height: 1080px;
  font-family: 'Nunito';
}

/*##################################################*/

/* ##############  Login Page CSS  #################*/
.LoginCss{
 
position: relative;
background-image: url(./Images/creamBackground.jpeg);

background-position: left;
width: 1920px;
height: 1080px;
font-family: 'Nunito';

  
}
.SignUpContainer{
  position: absolute;
  width: 600px;
  height: 790px;
  top: 60px;
  left: 550px;
  padding: 5%;

  background: rgb(219, 219, 243);
}
.main {
  font-size:100%;
  font-size:16px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display:block;
  border-style:solid;
  border-radius:8px;
  width:600px;
  height: 770px;
}

.button {
  display:block;
  color:white;
  border:none;
  border-radius:8px;
  text-transform:uppercase;
  width: 150px;
  height:60px;
  margin-left:auto;
  margin-right:auto;
  margin-top: auto;
  font-size:20px;
  background-color: #8e9cb8;
  letter-spacing: 0.8px;
}
#signUp{
  text-align:center;
  font-size:30px;
}

#head{
  margin-left:100px;
  font-size:20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.type{
  margin:10px;
  width:300px;
}

.main input[type="text"],
.main input[type="password"],
.main input[type="email"]{
  border:1px solid #c4c4c4;
  border-radius: 8px;
  width:400px;
  height:60px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

/*#####################################################*/

/* ###########  Examiner Results Page CSS  ############*/



/*#####################################################*/

/* ###########  Questions Page CSS  ############*/
.QuestionsContainer{
  position: absolute;
  width: 1500px;
  height: 750px;
  top: 180px;
  left: 175px;
  padding: 2%;
  border: 3px solid #252b1dd2;
  background-image: url(./Images/examinationAppBackground.webp);

}

.QuestionsPage{
  position: relative;
  background-image: url(./Images/creamBackground.jpeg);
  background-position: left;
  width: 1920px;
  height: 1080px;
  font-family: 'Nunito';
}

.questions{
  background-color: rgb(240, 237, 220);
  margin-left: 10px;
  border-radius: 15px;
  width: 800px;
  padding-bottom: 15px;
  border: 3px solid #252b1dd2;
}
.q_label{
  width: 800px;
  float:left;
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.726);
  color: aliceblue;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.q_answers{
  background-color: rgb(240, 237, 220);
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.m_label{
  float: right;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.726);
  border-bottom-right-radius: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  padding-top: 5px;
  padding-right: 20px;
}

.txt_answer{
  width: 550px;
  height: 50px;
}

.timer{
  float: right;
  background-color:lightgray;
  margin-right: 20px;
  border-radius: 15px;
  width: 320px;
  padding-top: 10px;
  padding-bottom: 15px;
  border: 3px solid #2f4246d2;
}
.t_header{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 135px;
  padding-right:140px;
  background-color: gray;
  border: 2px solid #2f4246d2;
  color: aliceblue;
}
.cd{
  font-size:5em;
  font-family: sans-serif;
  padding: 10px;
  float: right;
  margin-right: 0.5em;
  font-weight: Bold;
  color:rgb(13, 10, 37);
  background-color: rgba(107, 197, 193, 0.253);
}

.tms{
  padding:1.9em;
  font-size: 1.5em;
  font-weight: Italic;
}
.subm{
  width: 10em;
  height: 2em;
  border: 0.1em solid #7c7dcad2;
  border-radius: 1em;
  margin-left: 10em;
  font-size: 2em;
  background-color: #252b1dec;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ExamQs {
  text-align: center;
}

.question-card {
  position: absolute;
  left: 70px;
  margin: 0 auto;

  
  width: 60%; 
  height: auto;


  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

ul {
  list-style: none;
}
.Score h2{
  position: relative;
  left: -60px;
}
li {
  margin-top: 8px;
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
}

.question-text {
  color: darkblue;
  font-size: 24px;
}


.final-results {
  position: relative;
  margin: 0 auto;
  left: -230px;
 
  width: 50%; 
  height: auto;
  margin-top: 64px;


  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.QuestionsContainer button {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
}

/*#####################################################*/

/* ##############  Create Exam Page CSS  #############*/

.CreateSmall{
  width:0.1px;
  height:0.1px;
}
.CreateExamPage{
  position: relative;
  background-image: url(./Images/creamBackground.jpeg);
  background-position: left;
  width: 1920px;
  height: 1080px;
  font-family: 'Nunito';
}

/* Examinee page title */
.container{
  position: absolute;
  width: 1505px;
  height: 850px;
  top: 180px;
  left: 210px;

  background-image: url(./Images/examinationAppBackground.webp);
  border-radius: 31px;
  flex: 1;
  overflow-y: scroll;
  border: 3px solid black;
}

.container h1{
  position: relative;
  padding: 5%;
  text-align: center;
  margin-bottom: -20px;
}
.container button{
  position: relative;
  left: 700px;

}

.BigInput1{
  position: relative;
  left:500px;
  height: 30px;
  width: 600px;
  margin-bottom: 10px;
}
.SmallInput{
  position: relative;
  left:500px;
  width: 80-px;
  height:30px;
  margin-bottom: 10px;
}

.container h2{
  position: relative;
  font-size: 20px;
  top: -700px;
  left: 100px;
  width : 180px;
  margin-bottom: -0.5%
}

.DNames h2{
  position: relative;
  top: -1250px;
  margin-bottom: -15px;
  left: 260px;

}
.QNames h2{
  position: relative;
  top: -1240px;
  margin-bottom: 43px;
  margin-top: 0px;
  left: 260px;
}


.FormContainer{

  left: 30px;
}
/*####################################################*/

/* ##############   Components CSS  #################*/
/* Examinee page title */
.Title{
  position: absolute;
  width: 1500px;
  height: 100px;
  top: 60px;
  left: 210px;
  text-align: center;
  background: #cedcee;
  font-family: "Didot", serif;
  font-variant: small-caps;
  font-size: large;
  text-decoration: underline;
  background-image: url(./Images/forumBackground.jpeg);

  border: 2px solid #422800;
}
.Title h1{
  position: relative;
  text-align: center;
  top: -10px;
}

.Grades{
  position: absolute;
  width: 455px;
  height: 300px;
  top: 180px;
  left: 30px;

  text-align: center;
  background-image: url(./Images/forumBackground.jpeg);
  font-family: "Didot", serif;
  font-variant: small-caps;
  font-size: large;

 
  border: 2px solid #422800;
  border-radius: 31px;
  
  flex: 1;
  overflow-y: scroll;
}

/* Forum */
.Help{
  position: absolute;
  width: 400px;
  height: 400px;
  top: 500px;
  left: 30px;

  text-align: center;
  background-image: url(./Images/forumBackground.jpeg);
  font-family: "Didot", serif;
  font-variant: small-caps;
  font-size: small;
  flex: 1;
  overflow-y: scroll;

  border: 2px solid #422800;
  border-radius: 31px;
  padding: 30px;
}
.Help h1{
  position: relative;
  left: 150px;
  width: 100px;
}
.Calendar{
  position: absolute;
  width: 400px;
  height: 400px;
  top: 180px;
  left: 1430px;
  text-align: center;
  background-image: url(./Images/forumBackground.jpeg);
  font-family: "Didot", serif;
  font-variant: small-caps;
  font-size: large;
  flex: 1;
  overflow-y: scroll;

  border: 2px solid #422800;
  border-radius: 31px;
  padding: 30px;
}
.ExamsCourses{
  position: absolute;
  width: 850px;
  height: 850px;
  top: 180px;
  left: 540px;

  background-image: url(./Images/forumBackground.jpeg);
  border: 2px solid #422800;
  border-radius: 31px;
  flex: 1;
  overflow-y: scroll;
}

.CourseDisplay{
  position: relative;
  width: 700px;
  height: 200px;
  left: 50px;
  top: 50px;
  margin-bottom: 10px;

  background: linear-gradient( 195deg, #a1a3b9 0%, white 100%);
  text-align: center;
  
  font-family: "Didot", serif;
  font-variant:normal;
 font-size: small;

  border: 2px solid #422800;;
  border-radius: 31px;
  padding: 10px;

  
}
.CoursesDisplay h2{
  font-size: 22px;
}

.ForumDisplaySmall{
  position: relative;
  width: 350px;
  height: 50px;
  left: 10px;
  background: linear-gradient( 195deg, #a1a3b9 0%, white 100%);
}

.ForumDisplaySmall h1,h2,h3{
  padding: 10px;
}

.expand{
  position: relative;
  left: 20px;
  top: 10px;
  color: red;
  margin-bottom: 20px;
}

.SignInContainer{
  position: absolute;
  width: 700px;
  height: 900px;
  left:600px;
  top: 150px;
  border: 2px solid #422800;;
  background-image: url(./Images/forumBackground.jpeg);
}
.SignInContainer input{
  width: 400px;
  height: 50px;
  
}
.SignInContainer h2{
  position: relative;
  left: -200px;
}
.eamilPos{
  position: relative;
  left: 15px;
}
.namePos{
  position: relative;
  left: -20px;
  margin-bottom: -15px;
}

.emailPos{
  position: relative;
  left: 15px;
  margin-bottom: -15px;
  margin-top:-20px;
}

.pwdPos{
  position: relative;
  margin-bottom: -15px;
  margin-top:-20px;
}

.cnfPos{
  position: relative;
  left: 35px;
  margin-bottom: -15px;
  margin-top:-20px;
}
.RolePos{
  position: relative;
  left: 52px;
}

.NameOfCourse{
  position: relative;
  font-size: 35px;
  left: 280px;
}
.StartDateCourse{
  position: relative;
  font-size: 20px;
  top: -170px;
  left: px;
  width: 200px;

}
.EndDateCourse{
  position: relative;
  font-size: 20px;
  top: -230px;;
  left: 480px;
  width:190px;
}
.signoutButton{
  border-radius: 4px;
  background: #256ce1;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;
  
}
.signoutButton:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}